In [4]:
import pandas as pd

# Load the dataset
file_path = "D:\\0-transportation project\\code\\for_100\\common_pcards\\common_pcards_00.csv"

data = pd.read_csv(file_path)

# Display the first few rows of the dataframe to understand its structure
data.head()

       Common_Pcard
0  G0CF90GE9EBFECEC
1  000E0E0FB0CG9FBF
2  BG0F5B9F0B6500F9
3  E50E0E9000CCC0CE
4  000E0E0E9CE06C5C

In [8]:
# Randomly sample 100 users from the dataset
sampled_users = data

# Display the sampled users
sampled_users

          Common_Pcard
0     G0CF90GE9EBFECEC
1     000E0E0FB0CG9FBF
2     BG0F5B9F0B6500F9
3     E50E0E9000CCC0CE
4     000E0E0E9CE06C5C
...                ...
9618  0EEE0FG0000GFFFF
9619  C3F5ECGC60CC6B05
9620  000E0E05CC03CEEB
9621  000E0E03C66CFF50
9622  B0C53E000699BFG5

[9623 rows x 1 columns]

In [13]:
sampled_users.to_csv("D:\\0-transportation project\\code\\for_100\\sample_100.csv", index=False)

In [5]:
def filter_data_based_on_pcards(sampled_users, data_df, output_file_path=None):
    """
    Filters data based on a list of common PCards.

    Parameters:
    - common_pcards_path: str, path to the CSV file containing common PCards.
    - data_file_path: str, path to the CSV file containing data to be filtered.
    - output_file_path: str, optional, path to save the filtered data as a CSV file.

    Returns:
    - DataFrame containing filtered data.
    """


    # Filter the data
    filtered_data = data_df[data_df['PCARD_NO'].isin(sampled_users)]

    # Save the filtered data to a CSV file if an output path is provided
    if output_file_path:
        filtered_data.to_csv(output_file_path, index=False)
        print(f"Filtered data saved to {output_file_path}")

    return filtered_data

In [9]:

df1 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_100.csv")
df2 = pd.read_csv("E:\\data\\201302\\unique_pcard\\02_100.csv")
df3 = pd.read_csv("E:\\data\\201303\\unique_pcard\\03_100.csv")
df4 = pd.read_csv("E:\\data\\201304\\unique_pcard\\04_100.csv")
df5 = pd.read_csv("E:\\data\\201305\\unique_pcard\\05_100.csv")
df6 = pd.read_csv("E:\\data\\201306\\unique_pcard\\06_100.csv")
df7 = pd.read_csv("E:\\data\\201307\\unique_pcard\\07_100.csv")
df8 = pd.read_csv("E:\\data\\201308\\unique_pcard\\08_100.csv")
df9 = pd.read_csv("E:\\data\\201309\\unique_pcard\\09_100.csv")
df10 = pd.read_csv("E:\\data\\201310\\unique_pcard\\10_100.csv")
df11= pd.read_csv("E:\\data\\201311\\unique_pcard\\11_100.csv")
df12 = pd.read_csv("E:\\data\\201312\\unique_pcard\\12_100.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df11,df12], ignore_index=True)
print(df)
# Define the list of sampled users
sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\comman_pcards_data.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

                   PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
0      E00E000E0000CEGFBCEE  20130113180137         9               105
1      E00E000E0000CEGFBCEE  20130113193031        10               105
2      E00E000E000E0CBF9FC5  20130113142629        12               120
3      E00E000E000E0CBF9FC5  20130113144433        12               120
4      E00E000E000E0CBF9FC5  20130113200746        13               200
...                     ...             ...       ...               ...
24041      E909F90C00CEG5E0  20131219161722        41               200
24042      E909F90C00CEG5E0  20131219211405        42               120
24043      E909F90C9ECB990B  20131219055359        81               200
24044      E909F909FGBB0006  20131219225541        38               200
24045      E909F909FGBB0006  20131219120342        37               200

       TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
0              0    11110631.0            111512470  111707206.0
1              0    11110631.0            111512470  111707206.0
2              0    11110142.0            111007200  111706871.0
3              1    11110865.0            111009080  111753122.0
4              0           NaN            211200000          NaN
...          ...           ...                  ...          ...
24041          0           NaN            211200000          NaN
24042          1    11110290.0            111000400  111741338.0
24043          0           NaN            211200000          NaN
24044          0           NaN            211200000          NaN
24045          0           NaN            211100000          NaN

       PCARD_USER_CLASS_CD  RIDE_STA_ID  ...  RUN_DEPART_DTIME  \
0                        1      9012168  ...      2.013011e+13
1                        1      9113191  ...      2.013011e+13
2                        1        13733  ...      2.013011e+13
3                        1        71499  ...      2.013011e+13
4                        1         2716  ...               NaN
...                    ...          ...  ...               ...
24041                    1         2529  ...               NaN
24042                    1        71589  ...      2.013122e+13
24043                    1         2721  ...               NaN
24044                    1         2640  ...               NaN
24045                    1         1813  ...               NaN

       FARE_USER_CLASS_CD1  FARE_USER_CLASS_CD2  FARE_USER_CLASS_CD3  \
0                        1                  NaN                  NaN
1                        1                  NaN                  NaN
2                        1                  NaN                  NaN
3                        1                  NaN                  NaN
4                        1                  NaN                  NaN
...                    ...                  ...                  ...
24041                    1                  NaN                  NaN
24042                    1                  NaN                  NaN
24043                    1                  NaN                  NaN
24044                    1                  NaN                  NaN
24045                    1                  NaN                  NaN

       PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME  \
0               1           0           0       0.0       NaN
1               1           0           0    2388.0     436.0
2               1           0           0    3883.0     851.0
3               1           0           0     583.0     250.0
4               1           0           0    3900.0     966.0
...           ...         ...         ...       ...       ...
24041           1           0           0   12100.0    2519.0
24042           1           0           0    1643.0     207.0
24043           1           0           0    8600.0    1568.0
24044           1           0           0   19400.0    3950.0
24045           1           0           0   19400.0    3076.0

       FARE_USER_CLASS_CD2Ã‚Â¤Ã‚Â¹
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
...                        ...
24041                      NaN
24042                      NaN
24043                      NaN
24044                      NaN
24045                      NaN

[24046 rows x 25 columns]
Filtered data saved to E:\data\comman_pcards_data.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME,FARE_USER_CLASS_CD2Ã‚Â¤Ã‚Â¹
0,E00E000E0000CEGFBCEE,20130113180137,9,105,0,11110631.0,111512470,111707206.0,1,9012168,...,2.013011e+13,1,NaN,NaN,1,0,0,0.0,NaN,NaN
1,E00E000E0000CEGFBCEE,20130113193031,10,105,0,11110631.0,111512470,111707206.0,1,9113191,...,2.013011e+13,1,NaN,NaN,1,0,0,2388.0,436.0,NaN
2,E00E000E000E0CBF9FC5,20130113142629,12,120,0,11110142.0,111007200,111706871.0,1,13733,...,2.013011e+13,1,NaN,NaN,1,0,0,3883.0,851.0,NaN
3,E00E000E000E0CBF9FC5,20130113144433,12,120,1,11110865.0,111009080,111753122.0,1,71499,...,2.013011e+13,1,NaN,NaN,1,0,0,583.0,250.0,NaN
4,E00E000E000E0CBF9FC5,20130113200746,13,200,0,NaN,211200000,NaN,1,2716,...,NaN,1,NaN,NaN,1,0,0,3900.0,966.0,NaN

In [16]:

df1 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_13.csv")

df2 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_14.csv")
df3 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_15.csv")
df4 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_16.csv")
df5 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_17.csv")
df6 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_18.csv")
df7 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_19.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
print(df)
# Define the list of sampled users
sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201301\\unique_pcard\\01_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

                    PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
0       E00E0000500000GB5609  20130113091321         1               105
1       E00E0000500000GB5609  20130113212157         2               120
2       E00E0000500000GB5609  20130113214519         2               105
3       E00E000E000005G95FFC  20130113054935        13               115
4       E00E000E000005G95FFC  20130113052856        13               120
...                      ...             ...       ...               ...
175907      E909F909G5E6FB06  20130119191705        12               200
175908      E909F909G5E6FB06  20130119200511        12               115
175909      E909F909FGBB0006  20130119222710        19               200
175910      E909F909FGBB0006  20130119114944        18               200
175911      GC09F90F0F905305  20130119180907        27               115

        TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
0               0    11110637.0            111504071  111707302.0
1               0    41110072.0            111008051  111747102.0
2               1    11110637.0            111504071  111757205.0
3               1    11110041.0            111007500  111705913.0
4               0    11110267.0            111007500  111747043.0
...           ...           ...                  ...          ...
175907          0           NaN            211100000          NaN
175908          1    11110049.0            111004301  111751483.0
175909          0           NaN            211200000          NaN
175910          0           NaN            211100000          NaN
175911          0    11110998.0            111002000  111744049.0

        PCARD_USER_CLASS_CD  RIDE_STA_ID  ...  ALIGHT_AMT  RUN_DEPART_DTIME  \
0                         1      9013083  ...         0.0      2.013011e+13
1                         1         8809  ...         0.0      2.013011e+13
2                         1      9012213  ...         0.0      2.013011e+13
3                         1      8001908  ...         0.0      2.013011e+13
4                         1      8501164  ...         0.0      2.013011e+13
...                     ...          ...  ...         ...               ...
175907                    1         1906  ...       200.0               NaN
175908                    1        71190  ...       300.0      2.013012e+13
175909                    1         2640  ...       200.0               NaN
175910                    1         1813  ...       200.0               NaN
175911                    1        74596  ...         0.0      2.013012e+13

        FARE_USER_CLASS_CD1  FARE_USER_CLASS_CD2  FARE_USER_CLASS_CD3  \
0                         1                  NaN                  NaN
1                         1                  NaN                  NaN
2                         1                  NaN                  NaN
3                         1                  NaN                  NaN
4                         1                  NaN                  NaN
...                     ...                  ...                  ...
175907                    1                  NaN                  NaN
175908                    1                  NaN                  NaN
175909                    1                  NaN                  NaN
175910                    1                  NaN                  NaN
175911                    1                  NaN                  NaN

        PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME
0                1           0           0    1681.0     449.0
1                1           0           0    4647.0     847.0
2                1           0           0    1681.0     566.0
3                1           0           0    3944.0     728.0
4                1           0           0    4395.0     596.0
...            ...         ...         ...       ...       ...
175907           1           0           0   19500.0    2498.0
175908           1           0           0   11479.0    2008.0
175909           1           0           0   19400.0    3259.0
175910           1           0           0   19400.0    3274.0
175911           1           0           0    6680.0    1603.0

[175912 rows x 24 columns]
Filtered data saved to E:\data\201301\unique_pcard\01_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
138,E00E000E0000CEGFBCEE,20130113180137,9,105,0,11110631.0,111512470,111707206.0,1,9012168,...,NaN,2.013011e+13,1,NaN,NaN,1,0,0,0.0,NaN
139,E00E000E0000CEGFBCEE,20130113193031,10,105,0,11110631.0,111512470,111707206.0,1,9113191,...,0.0,2.013011e+13,1,NaN,NaN,1,0,0,2388.0,436.0
215,E00E000E000E0CBF9FC5,20130113142629,12,120,0,11110142.0,111007200,111706871.0,1,13733,...,0.0,2.013011e+13,1,NaN,NaN,1,0,0,3883.0,851.0
216,E00E000E000E0CBF9FC5,20130113144433,12,120,1,11110865.0,111009080,111753122.0,1,71499,...,0.0,2.013011e+13,1,NaN,NaN,1,0,0,583.0,250.0
217,E00E000E000E0CBF9FC5,20130113200746,13,200,0,NaN,211200000,NaN,1,2716,...,0.0,NaN,1,NaN,NaN,1,0,0,3900.0,966.0

In [18]:

df1 = pd.read_csv("E:\\data\\201302\\unique_pcard\\02_13.csv")
df2 = pd.read_csv("E:\\data\\201302\\unique_pcard\\02_14.csv")
df3 = pd.read_csv("E:\\data\\201302\\unique_pcard\\02_15.csv")
df4 = pd.read_csv("E:\\data\\201302\\unique_pcard\\02_16.csv")
df5 = pd.read_csv("E:\\data\\201302\\unique_pcard\\02_12.csv")
df6 = pd.read_csv("E:\\data\\201302\\unique_pcard\\02_11.csv")
df7 = pd.read_csv("E:\\data\\201302\\unique_pcard\\02_10.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)

# Define the list of sampled users
sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201302\\unique_pcard\\02_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

Filtered data saved to E:\data\201302\unique_pcard\02_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
129,E00E000E0000CEGFBCEE,20130213053656,11,120,0,41110086.0,111004500,111752676.0,1,9033817,...,0.0,2.013021e+13,1,NaN,NaN,1,0,0,2065.0,291.0
130,E00E000E0000CEGFBCEE,20130213065727,12,105,0,11110631.0,111512470,111707307.0,1,9113191,...,0.0,2.013021e+13,1,NaN,NaN,1,0,0,2388.0,416.0
209,E00E000E000E0CBF9FC5,20130213084601,15,120,0,11110899.0,111008800,111744930.0,1,13733,...,0.0,2.013021e+13,1,NaN,NaN,1,0,0,4609.0,838.0
210,E00E000E000E0CBF9FC5,20130213090406,15,120,1,11110144.0,111003500,111751382.0,1,11084,...,0.0,2.013021e+13,1,NaN,NaN,1,0,0,887.0,141.0
211,E00E000E000E0CBF9FC5,20130213234551,1,120,1,11110899.0,111008800,111744901.0,1,11085,...,0.0,2.013021e+13,1,NaN,NaN,1,0,0,4660.0,842.0

In [19]:

df1 = pd.read_csv("E:\\data\\201303\\unique_pcard\\03_13.csv")
df2 = pd.read_csv("E:\\data\\201303\\unique_pcard\\03_14.csv")
df3 = pd.read_csv("E:\\data\\201303\\unique_pcard\\03_15.csv")
df4 = pd.read_csv("E:\\data\\201303\\unique_pcard\\03_16.csv")
df5 = pd.read_csv("E:\\data\\201303\\unique_pcard\\03_12.csv")
df6 = pd.read_csv("E:\\data\\201303\\unique_pcard\\03_11.csv")
df7 = pd.read_csv("E:\\data\\201303\\unique_pcard\\03_10.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
print(df)
# Define the list of sampled users
sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201303\\unique_pcard\\03_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

                    PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
0       E00E0000500000GB5609  20130313082503         6               120
1       E00E0000500000GB5609  20130313080604         6               105
2       E00E0000500000GB5609  20130313214749         7               105
3       E00E0000500000GB5609  20130313212312         7               115
4       E00E000E000005G95FFC  20130313064913         1               115
...                      ...             ...       ...               ...
177298      E909F909FGBB0006  20130310112122        17               200
177299      E909F909FGBB0006  20130310222358        18               200
177300      GC09F90F0F905305  20130310190842        17               115
177301      GC09F90F0F905305  20130310194842        18               105
177302      GC09F90F0F905305  20130310061850        16               115

        TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
0               1    41110072.0            111008051  111707262.0
1               0    11110637.0            111504071  111757205.0
2               1    11110637.0            111504071  111757205.0
3               0    11110067.0            111009010  111711847.0
4               1    11110039.0            111009010  111709691.0
...           ...           ...                  ...          ...
177298          0           NaN            211100000          NaN
177299          0           NaN            211200000          NaN
177300          0    11110998.0            111002000  111744049.0
177301          0    11110645.0            111552171  111707231.0
177302          0    11110998.0            111002000  111742133.0

        PCARD_USER_CLASS_CD  RIDE_STA_ID  ...  ALIGHT_AMT  RUN_DEPART_DTIME  \
0                         1      8501273  ...         0.0      2.013031e+13
1                         1      9013083  ...         0.0      2.013031e+13
2                         1      9012213  ...         0.0      2.013031e+13
3                         1         8809  ...         0.0      2.013031e+13
4                         1      8002144  ...         0.0      2.013031e+13
...                     ...          ...  ...         ...               ...
177298                    1         1813  ...       200.0               NaN
177299                    1         2640  ...       200.0               NaN
177300                    1         9883  ...         0.0      2.013031e+13
177301                    1      9010232  ...         0.0      2.013031e+13
177302                    1        74596  ...         0.0      2.013031e+13

        FARE_USER_CLASS_CD1  FARE_USER_CLASS_CD2  FARE_USER_CLASS_CD3  \
0                         1                  NaN                  NaN
1                         1                  NaN                  NaN
2                         1                  NaN                  NaN
3                         1                  NaN                  NaN
4                         1                  NaN                  NaN
...                     ...                  ...                  ...
177298                    1                  NaN                  NaN
177299                    1                  NaN                  NaN
177300                    1                  NaN                  NaN
177301                    1                  2.0                  NaN
177302                    1                  NaN                  NaN

        PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME
0                1           0           0    5734.0    1414.0
1                1           0           0    1681.0     610.0
2                1           0           0    1681.0     943.0
3                1           0           0    6158.0    1289.0
4                1           0           0    4570.0     769.0
...            ...         ...         ...       ...       ...
177298           1           0           0   19400.0    3053.0
177299           1           0           0   19400.0    2838.0
177300           1           0           0    6159.0    1298.0
177301           3           1           0    1018.0     491.0
177302           1           0           0    6680.0    1352.0

[177303 rows x 24 columns]
Filtered data saved to E:\data\201303\unique_pcard\03_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
139,E00E000E0000CEGFBCEE,20130313104008,13,200,0,NaN,211000000,NaN,1,314,...,0.0,NaN,1,NaN,NaN,1,0,0,2000.0,509.0
140,E00E000E0000CEGFBCEE,20130313094042,12,200,0,NaN,211000000,NaN,1,316,...,0.0,NaN,1,NaN,NaN,1,0,0,2000.0,346.0
216,E00E000E000E0CBF9FC5,20130313145217,3,120,0,11110142.0,111007200,111748183.0,1,13733,...,0.0,2.013031e+13,1,NaN,NaN,1,0,0,3883.0,898.0
217,E00E000E000E0CBF9FC5,20130313150801,3,120,1,11110865.0,111009080,111753122.0,1,71499,...,0.0,2.013031e+13,1,NaN,NaN,1,0,0,583.0,186.0
218,E00E000E000E0CBF9FC5,20130314001258,4,120,0,11110865.0,111009080,111706837.0,1,10977,...,0.0,2.013031e+13,1,NaN,NaN,1,0,0,1196.0,264.0

In [20]:

df1 = pd.read_csv("E:\\data\\201304\\unique_pcard\\04_17.csv")
df2 = pd.read_csv("E:\\data\\201304\\unique_pcard\\04_14.csv")
df3 = pd.read_csv("E:\\data\\201304\\unique_pcard\\04_15.csv")
df4 = pd.read_csv("E:\\data\\201304\\unique_pcard\\04_16.csv")
df5 = pd.read_csv("E:\\data\\201304\\unique_pcard\\04_18.csv")
df6 = pd.read_csv("E:\\data\\201304\\unique_pcard\\04_19.csv")
df7 = pd.read_csv("E:\\data\\201304\\unique_pcard\\04_20.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
print(df)
# Define the list of sampled users
sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201304\\unique_pcard\\04_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

                    PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
0       E00E0000500000GB5609  20130417075247         9               105
1       E00E0000500000GB5609  20130417080916         9               115
2       E00E0000500000GB5609  20130417214359        10               115
3       E00E0000500000GB5609  20130417221147        10               105
4       E00E000E000005G95FFC  20130417053341         1               115
...                      ...             ...       ...               ...
177769      E909F909G5E6FB06  20130420084125         8               115
177770      E909F909G5E6FB06  20130420210839         9               200
177771      E909F909G5E6FB06  20130420222556         9               115
177772      E909F909FGBB0006  20130420101243         7               200
177773      GC09F90F0F905305  20130420072523        91               115

        TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
0               0    11110637.0            111504071  111707302.0
1               1    41110013.0            111007000  111707033.0
2               0    11110067.0            111009010  111747950.0
3               1    11110637.0            111504071  111707302.0
4               1    11110014.0            111002100  111742226.0
...           ...           ...                  ...          ...
177769          0    11110018.0            111007200  111744922.0
177770          0           NaN            211100000          NaN
177771          1    11110018.0            111007200  111752877.0
177772          0           NaN            211200000          NaN
177773          0    11110998.0            111002000  111711257.0

        PCARD_USER_CLASS_CD  RIDE_STA_ID  ...  ALIGHT_AMT  RUN_DEPART_DTIME  \
0                         1      9013083  ...         0.0      2.013042e+13
1                         1      8501273  ...         0.0      2.013042e+13
2                         1         8809  ...         0.0      2.013042e+13
3                         1      9012213  ...         0.0      2.013042e+13
4                         1      8001908  ...         0.0      2.013042e+13
...                     ...          ...  ...         ...               ...
177769                    1        73170  ...         0.0      2.013042e+13
177770                    1         1906  ...       400.0               NaN
177771                    1        75425  ...         0.0      2.013042e+13
177772                    1         2825  ...       500.0               NaN
177773                    1         9883  ...         0.0      2.013042e+13

        FARE_USER_CLASS_CD1  FARE_USER_CLASS_CD2  FARE_USER_CLASS_CD3  \
0                         1                  NaN                  NaN
1                         1                  NaN                  NaN
2                         1                  NaN                  NaN
3                         1                  NaN                  NaN
4                         1                  NaN                  NaN
...                     ...                  ...                  ...
177769                    1                  NaN                  NaN
177770                    1                  NaN                  NaN
177771                    1                  NaN                  NaN
177772                    1                  NaN                  NaN
177773                    1                  NaN                  NaN

        PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME
0                1           0           0    1681.0     683.0
1                1           0           0    6112.0    1849.0
2                1           0           0    5646.0    1366.0
3                1           0           0    2312.0     762.0
4                1           0           0    4831.0     873.0
...            ...         ...         ...       ...       ...
177769           1           0           0     950.0     193.0
177770           1           0           0   27100.0    3911.0
177771           1           0           0    1568.0     376.0
177772           1           0           0   34100.0    5548.0
177773           1           0           0    6159.0    1073.0

[177774 rows x 24 columns]
Filtered data saved to E:\data\201304\unique_pcard\04_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
114,E00E000E0000CEGFBCEE,20130417103154,8,200,0,NaN,211000000,NaN,1,314,...,0.0,NaN,1,NaN,NaN,1,0,0,2000.0,605.0
115,E00E000E0000CEGFBCEE,20130417094404,7,200,0,NaN,211000000,NaN,1,316,...,0.0,NaN,1,NaN,NaN,1,0,0,2000.0,473.0
190,E00E000E000E0CBF9FC5,20130417151020,15,120,0,11110139.0,111007200,111748140.0,1,70574,...,0.0,2.013042e+13,1,NaN,NaN,1,0,0,5532.0,1158.0
611,E00E000G0E00FC3FG99G,20130417155533,5,120,0,11110241.0,111007800,111743732.0,4,170755,...,0.0,2.013042e+13,1,NaN,NaN,1,0,0,4562.0,789.0
658,E00E000G0E00B3CC655E,20130417051617,13,120,0,11110290.0,111000400,111741332.0,4,71565,...,0.0,2.013042e+13,1,NaN,NaN,1,0,0,2510.0,570.0

In [21]:

df1 = pd.read_csv("E:\\data\\201305\\unique_pcard\\05_17.csv")
df2 = pd.read_csv("E:\\data\\201305\\unique_pcard\\05_14.csv")
df3 = pd.read_csv("E:\\data\\201305\\unique_pcard\\05_15.csv")
df4 = pd.read_csv("E:\\data\\201305\\unique_pcard\\05_16.csv")
df5 = pd.read_csv("E:\\data\\201305\\unique_pcard\\filtered_05_18.csv",encoding='ISO-8859-1')
df6 = pd.read_csv("E:\\data\\201305\\unique_pcard\\05_13.csv")
df7 = pd.read_csv("E:\\data\\201305\\unique_pcard\\05_12.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
print(df)
# Define the list of sampled users
sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201305\\unique_pcard\\05_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

                    PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
0       E00E0000500000GB5609  20130517075953         9               105
1       E00E0000500000GB5609  20130517081247         9               120
2       E00E0000500000GB5609  20130517215933        10               105
3       E00E0000500000GB5609  20130517213737        10               115
4       E00E000E000005G95FFC  20130517175146         3               115
...                      ...             ...       ...               ...
177935      E909F909FGBB0006  20130512150847        48               200
177936      E909F909FGBB0006  20130512225000        49               200
177937      GC09F90F0F905305  20130512062021        29               115
177938      GC09F90F0F905305  20130512191709        30               200
177939      GC09F90F0F905305  20130512191058        30               105

        TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
0               0    11110637.0            111504071  111757208.0
1               1    41110072.0            111008051  111707262.0
2               1    11110637.0            111504071  111757208.0
3               0    41110206.0            111004500  111749519.0
4               1    11110912.0            111007800  111709043.0
...           ...           ...                  ...          ...
177935          0           NaN            211100000          NaN
177936          0           NaN            211200000          NaN
177937          0    11110998.0            111002000  111744068.0
177938          1           NaN            211200000          NaN
177939          0    11110614.0            111501271  111755101.0

        PCARD_USER_CLASS_CD  RIDE_STA_ID  ...  RUN_DEPART_DTIME  \
0                         1      9013083  ...      2.013052e+13
1                         1      8501273  ...      2.013052e+13
2                         1      9012213  ...      2.013052e+13
3                         1         8809  ...      2.013052e+13
4                         1        71315  ...      2.013052e+13
...                     ...          ...  ...               ...
177935                    1         1813  ...               NaN
177936                    1         2640  ...               NaN
177937                    1        74596  ...      2.013051e+13
177938                    1         2625  ...               NaN
177939                    1      9012731  ...      2.013051e+13

        FARE_USER_CLASS_CD1  FARE_USER_CLASS_CD2  FARE_USER_CLASS_CD3  \
0                         1                  NaN                  NaN
1                         1                  NaN                  NaN
2                         1                  NaN                  NaN
3                         1                  NaN                  NaN
4                         1                  NaN                  NaN
...                     ...                  ...                  ...
177935                    1                  NaN                  NaN
177936                    1                  NaN                  NaN
177937                    1                  NaN                  NaN
177938                    1                  NaN                  NaN
177939                    1                  NaN                  NaN

        PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME  \
0                1           0           0    1681.0     419.0
1                1           0           0    5734.0     985.0
2                1           0           0    1681.0     669.0
3                1           0           0    6159.0    1169.0
4                1           0           0    1389.0     358.0
...            ...         ...         ...       ...       ...
177935           1           0           0   19400.0    3351.0
177936           1           0           0   19400.0    3942.0
177937           1           0           0    7088.0    1261.0
177938           1           0           0    8000.0    1397.0
177939           1           0           0     898.0     199.0

        FARE_USER_CLASS_CD2Ã‚Â¤Ã‚Â¹
0                           NaN
1                           NaN
2                           NaN
3                           NaN
4                           NaN
...                         ...
177935                      NaN
177936                      NaN
177937                      NaN
177938                      NaN
177939                      NaN

[177940 rows x 25 columns]
Filtered data saved to E:\data\201305\unique_pcard\05_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME,FARE_USER_CLASS_CD2Ã‚Â¤Ã‚Â¹
143,E00E000E0000CEGFBCEE,20130517094243,6,200,0,NaN,211000000,NaN,1,316,...,NaN,1,NaN,NaN,1,0,0,2000.0,474.0,NaN
144,E00E000E0000CEGFBCEE,20130517104202,7,200,0,NaN,211000000,NaN,1,314,...,NaN,1,NaN,NaN,1,0,0,2000.0,305.0,NaN
222,E00E000E000E0CBF9FC5,20130518000153,6,120,0,11110139.0,111007200,111748140.0,1,11298,...,2.013052e+13,1,NaN,NaN,1,0,0,5477.0,1063.0,NaN
223,E00E000E000E0CBF9FC5,20130517133932,4,200,0,NaN,211200000,NaN,1,2645,...,NaN,1,NaN,NaN,1,0,0,7600.0,1423.0,NaN
224,E00E000E000E0CBF9FC5,20130517141546,5,200,0,NaN,211200000,NaN,1,2636,...,NaN,1,NaN,NaN,1,0,0,11500.0,1897.0,NaN

In [22]:

df1 = pd.read_csv("E:\\data\\201306\\unique_pcard\\06_15.csv")
df2 = pd.read_csv("E:\\data\\201306\\unique_pcard\\06_14.csv")
df3 = pd.read_csv("E:\\data\\201306\\unique_pcard\\06_13.csv")
df4 = pd.read_csv("E:\\data\\201306\\unique_pcard\\06_12.csv")
df5 = pd.read_csv("E:\\data\\201306\\unique_pcard\\06_11.csv")
df6 = pd.read_csv("E:\\data\\201306\\unique_pcard\\06_10.csv")
df7 = pd.read_csv("E:\\data\\201306\\unique_pcard\\06_09.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
print(df)
# Define the list of sampled users
sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201306\\unique_pcard\\06_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

                    PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
0       E00E0000500000GB5609  20130615081114        10               115
1       E00E0000500000GB5609  20130615220619        11               120
2       E00E0000500000GB5609  20130615222624        11               105
3       E00E0000500000GB5609  20130615075739        10               105
4       E00E000E000005G95FFC  20130615062132         6               120
...                      ...             ...       ...               ...
179200      E909F909FGBB0006  20130609143248         8               105
179201      E909F909FGBB0006  20130609235855        10               120
179202      E909F909FGBB0006  20130609143622         8               115
179203      E909F909FGBB0006  20130609164326         9               200
179204      GC09F90F0F905305  20130609180136        79               115

        TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
0               1    41110013.0            111007000  111707034.0
1               0    41110072.0            111008051  111747102.0
2               1    11110637.0            111504071  111757205.0
3               0    11110637.0            111504071  111757208.0
4               1    11110267.0            111007500  111748417.0
...           ...           ...                  ...          ...
179200          0    11110557.0            111502270  111708327.0
179201          1    11410004.0            111000500  111744627.0
179202          1    11110055.0            111009020  111713235.0
179203          0           NaN            211100000          NaN
179204          0    11110072.0            111002100  111742235.0

        PCARD_USER_CLASS_CD  RIDE_STA_ID  ...  ALIGHT_AMT  RUN_DEPART_DTIME  \
0                         1      8501273  ...         0.0      2.013062e+13
1                         1         8809  ...         0.0      2.013062e+13
2                         1      9012213  ...         0.0      2.013062e+13
3                         1      9013083  ...         0.0      2.013062e+13
4                         1      8002144  ...         0.0      2.013062e+13
...                     ...          ...  ...         ...               ...
179200                    1      9013331  ...         0.0      2.013061e+13
179201                    1      8000358  ...         0.0      2.013061e+13
179202                    1        16196  ...         0.0      2.013061e+13
179203                    1         1006  ...       200.0               NaN
179204                    1        74596  ...         0.0      2.013061e+13

        FARE_USER_CLASS_CD1  FARE_USER_CLASS_CD2  FARE_USER_CLASS_CD3  \
0                         1                  NaN                  NaN
1                         1                  NaN                  NaN
2                         1                  NaN                  NaN
3                         1                  NaN                  NaN
4                         1                  NaN                  NaN
...                     ...                  ...                  ...
179200                    1                  NaN                  NaN
179201                    1                  NaN                  NaN
179202                    1                  NaN                  NaN
179203                    1                  NaN                  NaN
179204                    1                  NaN                  NaN

        PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME
0                1           0           0    6112.0    1101.0
1                1           0           0    4973.0     911.0
2                1           0           0    1681.0     763.0
3                1           0           0    1681.0     564.0
4                1           0           0    5557.0     887.0
...            ...         ...         ...       ...       ...
179200           1           0           0     686.0      77.0
179201           1           0           0    1768.0     357.0
179202           1           0           0    3336.0     594.0
179203           1           0           0   15400.0    2451.0
179204           1           0           0    5963.0    1263.0

[179205 rows x 24 columns]
Filtered data saved to E:\data\201306\unique_pcard\06_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
138,E00E000E0000CEGFBCEE,20130615094303,5,105,0,11111158.0,111504370,111755298.0,1,9010351,...,NaN,2.013062e+13,1,NaN,NaN,1,0,0,0.0,NaN
139,E00E000E0000CEGFBCEE,20130615103727,6,105,0,11111158.0,111504370,111707290.0,1,9012164,...,NaN,2.013062e+13,1,NaN,NaN,1,0,0,0.0,NaN
228,E00E000E000E0CBF9FC5,20130615115709,1,120,1,11110144.0,111003500,111751306.0,1,11084,...,0.0,2.013062e+13,1,NaN,NaN,1,0,0,887.0,250.0
229,E00E000E000E0CBF9FC5,20130615114416,1,120,0,11110142.0,111007200,111706872.0,1,13733,...,0.0,2.013062e+13,1,NaN,NaN,1,0,0,3883.0,726.0
230,E00E000E000E0CBF9FC5,20130615191024,2,115,0,11110003.0,111008800,111752844.0,1,10977,...,0.0,2.013062e+13,1,NaN,NaN,2,0,0,4076.0,1115.0

In [23]:

df1 = pd.read_csv("E:\\data\\201307\\unique_pcard\\07_17.csv")
df2 = pd.read_csv("E:\\data\\201307\\unique_pcard\\07_14.csv")
df3 = pd.read_csv("E:\\data\\201307\\unique_pcard\\07_15.csv")
df4 = pd.read_csv("E:\\data\\201307\\unique_pcard\\07_16.csv")
df5 = pd.read_csv("E:\\data\\201307\\unique_pcard\\07_18.csv")
df6 = pd.read_csv("E:\\data\\201307\\unique_pcard\\07_19.csv")
df7 = pd.read_csv("E:\\data\\201307\\unique_pcard\\07_20.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
# Define the list of sampled users
sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201307\\unique_pcard\\07_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

Filtered data saved to E:\data\201307\unique_pcard\07_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
137,E00E000E0000CEGFBCEE,20130717094504,8,200,0,NaN,211000000,NaN,1,316,...,0.0,NaN,1,NaN,NaN,1,0,0,2000.0,385.0
138,E00E000E0000CEGFBCEE,20130717103944,9,200,0,NaN,211000000,NaN,1,314,...,0.0,NaN,1,NaN,NaN,1,0,0,2000.0,577.0
220,E00E000E000E0CBF9FC5,20130717150037,2,120,1,11110899.0,111008800,111744901.0,1,11085,...,0.0,2.013072e+13,1,NaN,NaN,1,0,0,4479.0,1093.0
221,E00E000E000E0CBF9FC5,20130717145349,2,120,0,11110144.0,111003500,111743528.0,1,10977,...,0.0,2.013072e+13,1,NaN,NaN,1,0,0,1196.0,174.0
222,E00E000E000E0CBF9FC5,20130717163031,3,115,1,11110006.0,111008800,111751398.0,1,71494,...,0.0,2.013072e+13,1,NaN,NaN,1,0,0,3341.0,673.0

In [24]:

df1 = pd.read_csv("E:\\data\\201309\\unique_pcard\\09_08.csv")
df2 = pd.read_csv("E:\\data\\201309\\unique_pcard\\09_14.csv")
df3 = pd.read_csv("E:\\data\\201309\\unique_pcard\\09_10.csv")
df4 = pd.read_csv("E:\\data\\201309\\unique_pcard\\09_09.csv")
df5 = pd.read_csv("E:\\data\\201309\\unique_pcard\\09_13.csv")
df6 = pd.read_csv("E:\\data\\201309\\unique_pcard\\09_12.csv")
df7 = pd.read_csv("E:\\data\\201309\\unique_pcard\\09_11.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
# Define the list of sampled users

sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201309\\unique_pcard\\09_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

Filtered data saved to E:\data\201309\unique_pcard\09_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
132,E00E000E0000CEGFBCEE,20130908205732,10,105,0,11110631.0,111512470,111707308.0,1,9012168,...,NaN,2.013091e+13,1,NaN,NaN,1,0,0,0.0,NaN
133,E00E000E0000CEGFBCEE,20130908223320,11,105,0,11110631.0,111512470,111707206.0,1,9113191,...,0.0,2.013091e+13,1,NaN,NaN,1,0,0,2388.0,354.0
213,E00E000E000E0CBF9FC5,20130908134827,13,120,1,11110144.0,111003500,111751382.0,1,71499,...,0.0,2.013091e+13,1,NaN,NaN,1,0,0,579.0,148.0
214,E00E000E000E0CBF9FC5,20130908132807,13,120,0,11110142.0,111007200,111748172.0,1,13733,...,0.0,2.013091e+13,1,NaN,NaN,1,0,0,4191.0,844.0
215,E00E000E000E0CBF9FC5,20130908224216,14,120,0,11110865.0,111009080,111706613.0,1,10977,...,0.0,2.013091e+13,1,NaN,NaN,1,0,0,1196.0,333.0

In [25]:

df1 = pd.read_csv("E:\\data\\201308\\unique_pcard\\08_17.csv")
df2 = pd.read_csv("E:\\data\\201308\\unique_pcard\\08_14.csv")
df3 = pd.read_csv("E:\\data\\201308\\unique_pcard\\08_15.csv")
df4 = pd.read_csv("E:\\data\\201308\\unique_pcard\\08_16.csv")
df5 = pd.read_csv("E:\\data\\201308\\unique_pcard\\08_13.csv")
df6 = pd.read_csv("E:\\data\\201308\\unique_pcard\\08_12.csv")
df7 = pd.read_csv("E:\\data\\201308\\unique_pcard\\08_11.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
# Define the list of sampled users

sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201308\\unique_pcard\\08_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

Filtered data saved to E:\data\201308\unique_pcard\08_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
135,E00E000E0000CEGFBCEE,20130817103745,13,105,0,11111158.0,111504370,111755167.0,1,9012164,...,NaN,2.013082e+13,1,NaN,NaN,1,0,0,0.0,NaN
136,E00E000E0000CEGFBCEE,20130817094253,12,105,0,11111158.0,111504370,111755180.0,1,9010351,...,NaN,2.013082e+13,1,NaN,NaN,1,0,0,0.0,NaN
217,E00E000E000E0CBF9FC5,20130817194052,15,120,0,11110865.0,111009080,111753132.0,1,10977,...,0.0,2.013082e+13,1,NaN,NaN,1,0,0,639.0,186.0
218,E00E000E000E0CBF9FC5,20130817195707,15,120,1,11110142.0,111007200,111748148.0,1,11085,...,0.0,2.013082e+13,1,NaN,NaN,1,0,0,4799.0,1253.0
219,E00E000E000E0CBF9FC5,20130817231809,1,120,0,11110142.0,111007200,111748137.0,1,13733,...,0.0,2.013082e+13,1,NaN,NaN,1,0,0,4535.0,955.0

In [26]:

df1 = pd.read_csv("E:\\data\\201310\\unique_pcard\\10_17.csv")
df2 = pd.read_csv("E:\\data\\201310\\unique_pcard\\10_14.csv")
df3 = pd.read_csv("E:\\data\\201310\\unique_pcard\\10_15.csv")
df4 = pd.read_csv("E:\\data\\201310\\unique_pcard\\10_16.csv")
df5 = pd.read_csv("E:\\data\\201310\\unique_pcard\\10_13.csv")
df6 = pd.read_csv("E:\\data\\201310\\unique_pcard\\10_18.csv")
df7 = pd.read_csv("E:\\data\\201310\\unique_pcard\\10_19.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
# Define the list of sampled users

sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201310\\unique_pcard\\10_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

Filtered data saved to E:\data\201310\unique_pcard\10_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
143,E00E000E0000CEGFBCEE,20131017094315,12,200,0,NaN,211000000,NaN,1,316,...,0.0,NaN,1,NaN,NaN,1,0,0,2000.0,613.0
144,E00E000E0000CEGFBCEE,20131017104126,13,200,0,NaN,211000000,NaN,1,314,...,0.0,NaN,1,NaN,NaN,1,0,0,2000.0,488.0
232,E00E000E000E0CBF9FC5,20131018000459,6,120,0,11110139.0,111007200,111748184.0,1,11298,...,0.0,2.013102e+13,1,NaN,NaN,1,0,0,5477.0,1012.0
233,E00E000E000E0CBF9FC5,20131017153023,5,120,0,11110139.0,111007200,111742356.0,1,70574,...,0.0,2.013102e+13,1,NaN,NaN,1,0,0,5532.0,1117.0
634,E00E000G0E00FC3FG99G,20131017173101,2,120,0,11110241.0,111007800,111749998.0,4,170755,...,0.0,2.013102e+13,1,NaN,NaN,1,0,0,4562.0,827.0

In [27]:

df1 = pd.read_csv("E:\\data\\201311\\unique_pcard\\11_12.csv")
df2 = pd.read_csv("E:\\data\\201311\\unique_pcard\\11_14.csv")
df3 = pd.read_csv("E:\\data\\201311\\unique_pcard\\11_15.csv")
df4 = pd.read_csv("E:\\data\\201311\\unique_pcard\\11_16.csv")
df5 = pd.read_csv("E:\\data\\201311\\unique_pcard\\11_13.csv")
df6 = pd.read_csv("E:\\data\\201311\\unique_pcard\\11_11.csv")
df7 = pd.read_csv("E:\\data\\201311\\unique_pcard\\11_10.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
# Define the list of sampled users

sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201311\\unique_pcard\\11_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

Filtered data saved to E:\data\201311\unique_pcard\11_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
134,E00E000E0000CEGFBCEE,20131112184818,6,105,0,11111158.0,111504370,111707272.0,1,9010351,...,NaN,2.013111e+13,1,NaN,NaN,1,0,0,0.0,NaN
135,E00E000E0000CEGFBCEE,20131112193638,7,105,0,11111158.0,111504370,111755167.0,1,9012164,...,NaN,2.013111e+13,1,NaN,NaN,1,0,0,0.0,NaN
227,E00E000E000E0CBF9FC5,20131112161814,14,120,0,11110899.0,111008800,111744930.0,1,13733,...,0.0,2.013111e+13,1,NaN,NaN,1,0,0,6623.0,1553.0
651,E00E000G0E00FC3FG99G,20131112055135,8,120,0,11110241.0,111007800,111743777.0,4,60077,...,0.0,2.013111e+13,1,NaN,NaN,1,0,0,3146.0,485.0
652,E00E000G0E00FC3FG99G,20131112172946,9,120,0,11110241.0,111007800,111749741.0,4,170755,...,0.0,2.013111e+13,1,NaN,NaN,1,0,0,4562.0,685.0

In [28]:

df1 = pd.read_csv("E:\\data\\201312\\unique_pcard\\12_17.csv")
df2 = pd.read_csv("E:\\data\\201312\\unique_pcard\\12_20.csv")
df3 = pd.read_csv("E:\\data\\201312\\unique_pcard\\12_15.csv")
df4 = pd.read_csv("E:\\data\\201312\\unique_pcard\\12_16.csv")
df5 = pd.read_csv("E:\\data\\201312\\unique_pcard\\12_21.csv")
df6 = pd.read_csv("E:\\data\\201312\\unique_pcard\\12_18.csv")
df7 = pd.read_csv("E:\\data\\201312\\unique_pcard\\12_19.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
# Define the list of sampled users

sampled_user_ids = sampled_users['Common_Pcard'].tolist()
output_file_path = "E:\\data\\201312\\unique_pcard\\12_100.csv"  # Optional

filtered_combined_data = filter_data_based_on_pcards(sampled_user_ids, df, output_file_path)

# Display the filtered data
filtered_combined_data.head()

Filtered data saved to E:\data\201312\unique_pcard\12_100.csv

,PCARD_NO,RIDE_DTIME,TRANS_ID,TRANSP_METHOD_CD,TRAF_FREQ,BUS_ROUTE_ID,RIDE_TRANSP_BIZR_ID,VEHC_ID,PCARD_USER_CLASS_CD,RIDE_STA_ID,...,ALIGHT_AMT,RUN_DEPART_DTIME,FARE_USER_CLASS_CD1,FARE_USER_CLASS_CD2,FARE_USER_CLASS_CD3,PASGR_NUM1,PASGR_NUM2,PASGR_NUM3,USE_DIST,USE_TIME
123,E00E000E0000CEGFBCEE,20131217185217,5,105,0,11111158.0,111504370,111707272.0,1,9010027,...,NaN,2.013122e+13,1,NaN,NaN,1,0,0,0.0,NaN
124,E00E000E0000CEGFBCEE,20131217193941,6,105,0,11111158.0,111504370,111707209.0,1,9012164,...,NaN,2.013122e+13,1,NaN,NaN,1,0,0,0.0,NaN
214,E00E000E000E0CBF9FC5,20131217193433,15,120,0,11110139.0,111007200,111706896.0,1,11298,...,0.0,2.013122e+13,1,NaN,NaN,1,0,0,5477.0,1467.0
215,E00E000E000E0CBF9FC5,20131217160811,14,120,0,11110139.0,111007200,111706899.0,1,70574,...,0.0,2.013122e+13,1,NaN,NaN,1,0,0,5532.0,1120.0
649,E00E000G0E00FC3FG99G,20131217174025,15,120,0,11110241.0,111007800,111743709.0,4,70755,...,0.0,2.013122e+13,1,NaN,NaN,1,0,0,3351.0,502.0